.header__lang-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-decoration: none;
    color: white;
}

.header__lang-link:hover:hover {
    opacity: 0.8;
}

@media screen and (max-width:767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}