.map__title-glazov {
    margin: 0;
    object-fit: cover;
    width: 47px;
    height: 10px;
    position: absolute;
    top: 300.84px;
    right: 390.37px;
    z-index: 3;
}

@media(max-width:1279px) {
    .map__title-glazov {
        width: 45px;
        height: 9px;
        top: 283.72px;
        right: 368.15px;
    }
}

@media screen and (max-width:1023px) {
    .map__title-glazov {
        width: 37px;
        height: 7px;
        top: 234.8px;
        right: 304.68px;
    }
}

@media screen and (max-width:767px) {
    .map__title-glazov {
        width: 15.23px;
        height: 2.83px;
        top: 97.83px;
        right: 126.95px;
    }
}