.map__title-yaroslavl {
    object-fit: cover;
    width: 74px;
    height: 10px;
    position: absolute;
    margin: 0;
    top: 292.68px;
    left: 279.26px;
    z-index: 3;
}

@media(max-width:1279px) {
    .map__title-yaroslavl {
        width: 69.42px;
        height: 8.21px;
        top: 276.02px;
        left: 263.37px;
    }
}

@media screen and (max-width:1023px) {
    .map__title-yaroslavl {
        width: 58px;
        height: 7px;
        top: 228.43px;
        left: 217.96px;
    }
}

@media screen and (max-width:767px) {
    .map__title-yaroslavl {
        width: 23.94px;
        height: 2.83px;
        top: 95.18px;
        left: 90.82px;
    }
}