.map {
    margin: 0;
    object-fit: cover;
    width: 984px;
    height: 615px;
    position: relative;
}

@media(max-width:1279px) {
    .map {
        width: 928px;
        height: 580px;
    }
}

@media screen and (max-width:1023px) {
    .map {
        width: 768px;
        height: 480px;
    }
}

@media screen and (max-width:767px) {
    .map {
        width: 320px;
        height: 200px;
    }
}