.place__link {
  text-decoration: underline;
  height: min-content;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.place__link:hover {
    opacity: 0.8;
}