.footer {
    width: 1184px;
    height: 18px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding-top: 92px;
    padding-bottom: 24px;

}

@media(max-width:1279px) {
    .footer {
        width: 928px;
    }
}

@media screen and (max-width:1023px) {
    .footer {
        padding-top: 88px;
        width: 720px;
    }
}

@media screen and (max-width:767px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
        padding-right: 102px;
        width: 186px;
        height: 310px;
        gap: 32px;
    }
}