.map__on-map-ulan-ude {
    margin: 0;
    object-fit: contain;
    width: 7px;
    height: 9px;
    position: absolute;
    top: 248.83px;
    right: 52px;
    z-index: 3;
}

@media(max-width:1279px) {
    .map__on-map-ulan-ude {
        width: 7px;
        height: 8px;
        top: 233.67px;
        right: 49.05px;
    }
}

@media screen and (max-width:1023px) {
    .map__on-map-ulan-ude {
        width: 6px;
        height: 7px;
        top: 194.21px;
        right: 40.8px;
    }
}

@media screen and (max-width:767px) {
    .map__on-map-ulan-ude {
        width: 2.27px;
        height: 2.65px;
        top: 80.92px;
        right: 16.91px;
    }
}